body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw; /* Set the width relative to the viewport */
    min-height: calc(100vh - 100px); /* Use calc for min-height */
    max-width: 100%;
  }
  
  hr {
    width: 100%; /* Set width to 100% of the parent */
  }
  
  section {
    width: 100%; /* Set width to 100% of the parent */
  }